body {
  margin-left: auto;
  margin-right: auto;
}

.projects .container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.buttons-container .buttons-list {
  display: flex;
  justify-content: center;
  column-gap: 8px;
  padding-bottom: 34px;
}

.buttons-sort {
  background-color: var(--background-color2);
  color: var(--foreground-color1);
  font-family: inherit;
  cursor: pointer;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
  border: none;
  min-width: 74px;
  padding: 6px 22px;
  border-radius: 4px;
}

.buttons-sort:hover,
.buttons-sort:focus {
  background-color: var(--hoverfocus-color);
  color: var(--foreground-color3);
}

.projects {
  padding-top: 94px;
  padding-bottom: 94px;
}

.projects .project-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 30px;
  row-gap: 30px;
}

.projects .wrapper {
  border: 1px solid #eeeeee;
  border-top: none;
}

.projects .title {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;

  padding-top: 20px;
  padding-left: 24px;
}

.projects .kind {
  color: var(--foreground-color2);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;

  padding-top: 4px;
  padding-left: 24px;
  padding-bottom: 20px;
}
